<nav class="explore-menu">
  <button class="explore-button">
    Explorar +
  </button>
  <div class="explore-dropdown">
    <a href="https://www.netflix.com/br" target="_blank">Netflix</a>
    <a href="https://www.crunchyroll.com" target="_blank">Crunchyroll</a>
    <a href="https://www.primevideo.com" target="_blank">Prime Video</a>
    <a routerLink="/favoritos">❤️ Meus Favoritos</a>
  </div>
</nav>

<div class="page-container">
  <h1 class="anime-title">Bem-vindo ao AnimeVerse</h1>
  <app-hero-carousel [destaques]="destaques"></app-hero-carousel>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div class="col" *ngFor="let anime of animes">
      <div class="anime-card h-100 text-center p-3">
        <img [src]="anime.image" [alt]="anime.name" />
        <div class="anime-name mt-2">{{ anime.name }}</div>

        <div class="button-group mt-3 d-flex flex-column gap-2">
          <button
            class="btn btn-outline-danger"
            (click)="toggleFavorite(anime)">
            <span *ngIf="isFavorite(anime)">❤️ Favorito</span>
            <span *ngIf="!isFavorite(anime)">🩶 Favoritar</span>
          </button>

          <button
            class="btn btn-primary-custom"
            (click)="openDetails(detailsModal, anime)">
            Ver Detalhes
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #detailsModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedAnime?.name }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <img [src]="selectedAnime?.image" class="w-100 mb-3" />
      <p>{{ selectedAnime?.description }}</p>
    </div>
  </ng-template>
</div>
