<div class="page-container">
  <h1 class="anime-title">Bem-vindo ao AnimeVerse</h1>

  <!-- 🎞️ Carrossel de Destaques -->
  <ngb-carousel class="mb-5 carousel-custom" [interval]="4000" [pauseOnHover]="true">
    <ng-template ngbSlide *ngFor="let destaque of destaques">
      <div class="carousel-item-wrapper">
        <img [src]="destaque.image" class="d-block w-100 rounded" [alt]="destaque.title" />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ destaque.title }}</h5>
          <p>{{ destaque.description }}</p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>

  <!-- 🧩 Grid de Animes -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div class="col" *ngFor="let anime of animes">
      <div class="anime-card h-100 text-center p-3">
        <img [src]="anime.image" [alt]="anime.name" />
        <div class="anime-name mt-2">{{ anime.name }}</div>
        <button class="btn btn-primary-custom mt-2" (click)="openDetails(detailsModal, anime)">
          Ver Detalhes
        </button>
      </div>
    </div>
  </div>

  <!-- 💬 Modal de Detalhes -->
  <ng-template #detailsModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedAnime?.name }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <img [src]="selectedAnime?.image" class="w-100 mb-3" />
      <p>{{ selectedAnime?.description }}</p>
    </div>
  </ng-template>
</div>
