// Cores principais
$primary-color: #ffffff;
$secondary-color: #00cec9;
$background-color: #090909;
$text-color: #2d3436;

// Tipografia
$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Espaçamento
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Borda
$border-radius: 8px;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
